@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Comic Sans MS';
	src: url('/fonts/Comic Sans MS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Comic Sans MS', sans-serif;
	overflow: hidden;
}

@media (max-height: 700px) {
	:root {
		--content-scale: 0.9;
	}
}

@media (max-height: 650px) {
	:root {
		--content-scale: 0.7;
	}
	.main-block {
		padding-bottom: calc(10rem * (1 / var(--content-scale, 1)));
	}
}

@media (max-height: 600px) {
	:root {
		--content-scale: 0.7;
	}
	.main-block {
		padding-bottom: calc(10rem * (1 / var(--content-scale, 1)));
	}
}

@media (max-height: 500px) {
	:root {
		--content-scale: 0.5;
	}
	.main-block {
		padding-bottom: calc(14rem * (1 / var(--content-scale, 1)));
	}
}

.main-block {
	transform: scale(var(--content-scale, 1));
	transform-origin: top;
}

.text-yellow-outline {
	color: white;
	text-shadow: 1px 1px 0px #a16207, -1px -1px 0px #a16207;
}

.text-brown-outline {
	color: white;
	text-shadow: 1px 1px 0px #5d4037, -1px -1px 0px #5d4037;
}

.text-dark-outline {
	color: white;
	text-shadow: 1px 1px 0px #171717, -1px -1px 0px #171717;
}

.bg-image {
	background-image: url('/images/nest.PNG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
}
